<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmobexample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Push SDK权限 end -->
    <!-- 允许网络连接以及网络状态改变 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 文件存储 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.example.bmobexample.BmobApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bmobexample.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".crud.CRUDActivity" />
        <activity android:name=".crud.QueryActivity" />
        <activity android:name=".crud.QueryStatisticActivity" />
        <activity android:name=".crud.QuerySQLActivity" />
        <activity android:name=".user.UserActivity" />
        <activity android:name=".BatchActionActivity" />
        <activity android:name=".location.LocationActivity" />
        <activity android:name=".acl.ACLActivity" />
        <activity
            android:name=".relation.WeiboListActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".relation.CommentListActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name=".push.ActBmobPush" />
        <activity android:name=".file.BmobFileActivity" />
        <activity android:name=".autoupdate.ActAutoUpdate" />
        <activity android:name=".newfile.LocalThumbnailActivity" />
        <activity android:name=".newfile.NewBmobFileActivity" />
        <activity android:name="com.example.bmobexample.sms.SMSCodeActivity" />

        <!-- bmob push start -->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":bmobpush" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>
        <receiver android:name="cn.bmob.push.PushReceiver" android:process=":bmobpush">
            <intent-filter android:priority="2147483647" > <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络变化 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".push.MyMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
        <!-- bmob push end -->

        <!-- Auto Update Start -->
        <!-- 设置更新渠道，如果没有，则不要添加此行 -->
		<meta-data android:value="bmob" android:name="BMOB_CHANNEL"/>
		
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- Auto Update End -->
    </application>

</manifest>